@media (max-width: 1120px) {
  .offer-block::before {
    opacity: 0.6;
  }

  .offer-2__security {
    max-width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  .price__list {
    justify-content: space-around;
  }

  .price__item {
    width: 31%;
  } 

  .work-stage__item {
    width: 33%;
  }

  .work-stage__item:nth-child(3)::after {
    display: none;
  }

  .work-stage__item:nth-child(4)::before {
    display: none;
  }
}

@media (max-width: 960px) {
  .navbar__contacts {
    display: none;
  }

  .menu__list {
    flex-direction: column;
  }

  .menu__link {
    width: 100%;
    padding: 10px 0;
    text-align: center;
  }

  .menu__link:active {
    background-color: #3866c7;
  }

  .banner {
    padding-top: 50px
  }

  .banner__text {
    margin-bottom: 35px;
  }

  .banner__price {
    margin-bottom: 50px;
  }

  .offer-block {
    padding: 40px;
  }

  .offer-block::before {
    opacity: 0.6;
  }

  .catalog__item {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .blog__articles {
    justify-content: space-around;
  }

  .blog__item {
    width: 32%;
  } 

  .price__item {
    width: 48%;
  } 
}

@media (max-width: 750px) {
  .banner {
    background-image: none;
  }

  .offer-block,
  .offer-2 .offer-block {
    padding: 40px;
    background-image: none;
  }


  .form__row {
    flex-direction: column;

  }

  .form__group {
    width: 100%;
    margin-bottom: 25px;
  }

  .form__group:last-child {
    margin-bottom: 0;
  }

  .form__input {
    border-right: 1px solid #ddd;
  }

  .form__row-checkbox {
    flex-direction: row;
  }

  .group-checkbox {
    width: auto;
    margin-bottom: 0;
  }

  .features__item {
    width: 50%;
  }

  .blog__top-block {
    flex-direction: column;
  }

  .blog__text {
    margin-bottom: 20px;
  }

  .blog__articles {
    justify-content: space-around;
  }

  .blog__item {
    width: 48%;
  }

}

@media (max-width: 580px) {
  .navbar__logo {
    display: none;
  }

  .menu-button {
    height: 60px;
    width: 60px;
  }

  .button-o {
    padding: 15px 20px;
    font-size: 10px;
  }

  .banner {
    margin-top: 60px;
  }

  .offer__title {
    font-size: 20px;
  }

  .offer__text {
    font-size: 17px;
  }

  .features__item {
    width: 100%;
    margin-bottom: 80px;
  }

  .section-title {
    font-size: 25px;
    margin-bottom: 80px;
  }

  .section-size {
    padding-top: 60px;
  }

  .catalog {
    padding-bottom: 60px;
  }

  .blog {
    padding: 60px 0;
  }

  .blog__text {
    font-size: 20px;
  }

  .blog__item {
    width: 100%;
  }

  .price {
    padding: 60px 0;
  }

  .price__item {
    width: 100%;
  } 

  .work-stage__item {
    width: 50%;
  }

  .work-stage__item::before,
  .work-stage__item::after {
    display: none;
  }
}

@media (max-width: 408px) {
  .form__input,
  .form__button  {
    height: 60px;
  }

  .form__row-checkbox {
    flex-direction: column;
    align-items: flex-start;
  }

  .group-checkbox:not(:last-child) {
    margin-bottom: 25px;
  }

  .catalog__vew-button {
    font-size: 13px;
    padding: 20px;
  }

  .work-stage {
    padding-bottom: 0;
  }
  .work-stage__item {
    width: 100%;
  }
}