body {
  font-family: "Proxima Nova Regular", sans-serif;
  line-height: 1.6;
  color: #000;
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
}

.section-size {
  padding-top: 100px;
}

.section-title {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 100px;
}

.navbar {
  position: fixed;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #fff;
}

.wrapper {
  background-color: #fff;
}

.navbar__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  flex-wrap: wrap;
}

.navbar__item {
  display: flex;
  flex-direction: column;
}

.menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
  border-left: 1px solid rgba(81, 11, 186, 0.1);
  border-right: 1px solid rgba(81, 11, 186, 0.1);
  height: 80px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.menu-button:hover,
.menu-button:focus {
  background-color: #4370ce;
}

.menu-button__line {
  width: 20px;
  height: 3px;
  background-color: #507fe1;
  margin-bottom: 5px;
}

.menu-button:hover .menu-button__line,
.menu-button:focus  .menu-button__line{
  background-color: #fff;
}

.logo__text {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: #262626;
  margin-bottom: 8px;
}

.same-font {
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: #6b6b6b;
}

.navbar__contacts {
  align-items: flex-end
}

.navbar__phone {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 19px;
  line-height: 19px;
  text-decoration: none;
  color: #1c1c1c;
  margin-bottom: 8px;
}

.button {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #507fe1;
  border: none;
  padding: 25px 45px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: #3866c7;
}

.button-o {
  background-color: transparent;
  font-size: 12px;
  line-height: 12px;
  color: #507fe1;
  border: 2px solid #507fe1;
  padding: 19px 22px;
  transition: 0.3s all;
  cursor: pointer;
}

.button-o:hover,
.button-o:focus {
  background-color: #507fe1;
  color: #fff;
}

.menu {
  background-color: #4370ce;
  transform: translateY(-100%);
  position: absolute;
  width: 100%;
  z-index: -1;
  visibility: hidden;
  transition: 0.2s all;
}

.menu-active {
  visibility: visible;
  transform: translateY(0);
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu__item {
  display: flex;
}

.menu__link {
  text-decoration: none;
  font-size: 17px;
  line-height: 25px;
  font-weight: 300;
  padding: 16px 0;
  color: #fff;
}

.menu__link:hover,
.menu__link:focus {
  color: #000;
}

.banner {
  background-color: #f1f1f1;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  margin-top: 80px;
  padding-top: 120px;
  padding-bottom: 273px;
}

.banner__text {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #252525;
  width: 266px;
  margin-bottom: 47px;
}

.banner__price {
  font-size: 30px;
  font-weight: 700;
  line-height: 31px;
  display: block;
  margin-bottom: 67px;
}

.banner__button {
  font-size: 15px;
  line-height: 15px;
}

.banner__button:hover {
  background-color: #3866c7;
}

/*main section*/

/*offer*/

.bg-secondary {
  background-color: #f1f1f1;
}

.offer-block {
  padding: 80px;
  background-color: #fff;
  background-image: url(../img/form-bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  transform: translateY(-102px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 20;
}

.offer-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
  opacity: 0;
}

.offer__title {
  font-size: 25px;
  letter-spacing: 0.75px;
  margin-bottom: 30px;
  text-align: left;
}

.offer__text {
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 48px;
}

.form__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin-top: 25px;
}

.form__group {
  width: 33.3%;
}

.form__label {
  display: block;
  font-size: 17px;
  line-height: 17px;
  margin-bottom: 15px;
}

.form__input {
  width: 100%;
  box-sizing: border-box;
  height: 80px;
  border: 1px solid #ddd;
  border-right-color: transparent;
  padding: 0 30px;
  transition: 0.3s
}

.form__group:last-child .form__input {
  border-right: 1px solid #ddd;
}

.form__group:last-child .form__input:focus,
.form__group:last-child .form__input:hover {
  border-right: 1px solid #507fe1;
}

.form__input:focus,
.form__input:hover {
  border-color: #507fe1;
  outline: 0;
  border-right: 1px solid #507fe1;
}

.group-checkbox {
  width: auto;
  margin-right: 42px;
  font-size: 17px;
  line-height: 17px;
}

.group-checkbox:last-child {
  margin-right: 0;
} 

.form__label-checkbox {
  padding-left: 51px;
  padding-top: 6px;
  padding-bottom: 7px;
  position: relative;
  cursor: pointer;
}

.form__label-checkbox::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  transition: 0.3s;
}

.form__label-checkbox:hover {
  color: #507fe1;
}

.form__label-checkbox:hover::before {
  border: 1px solid #507fe1;
}

.form__label-checkbox::after {
  content: "";
  position: absolute;
  opacity: 0;
  left: 6px;
  top: 6px;
  width: 20px;
  height: 10px;
  border-left: 2px solid #507fe1;
  border-bottom: 2px solid #507fe1;
  transform: rotate(-45deg);
  transition: 0.3s;
}

.form__checkbox:checked+.form__label-checkbox::after {
  opacity: 1;
}

.form__checkbox:checked+.form__label-checkbox::before {
  border-color: #507fe1;
}

.form__button {
  height: 80px;
  padding: 0;
  width: 100%;
}

/*features*/

.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.features__item {
  text-align: center;
  width: 33%;
  margin-bottom: 110px;
}

.features__item img {
  margin-bottom: 20px;
}

.features__text {
  padding: 0;
  margin: 0 auto;
  max-width: 265px;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}

/*Catalog*/

.catalog {
  padding-bottom: 100px;
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog__item {
  display: flex;
  align-items: flex-start;
  width: 49%;
  max-width: 570px;
  box-shadow: 7px 5px 21px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  position: relative;
}

.catalog-item__image {
  width: 100%;
  height: auto;
  min-height: 100px;
}

.catalog__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  transition: 0.3s;
}

.catalog__item:hover::before {
  opacity: 0.3;
}

.catalog__category {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-transform: uppercase;
  color: #fff;
  padding: 11px 12px;
  background-color: #507fe1;
  opacity: 0.6;
}

.catalog__options {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  font-family: "Proxima Nova Regular", sans-serif;
}

.catalog__item:hover .catalog__options {
  visibility: visible;
  opacity: 1;
}

.catalog__options button:not(:last-child) {
  border: none;
  cursor: pointer;
  background-color: #6a99e9;
  color: #fff;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 11px;
  line-height: 11px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 9px 10px;
  transition: 0.3s;
}

.catalog__options button:not(:last-child):hover,
.catalog__options button:not(:last-child):focus {
  background-color: #fff;
  color: #6a99e9;
}

.catalog__favorities_button {
  cursor: pointer;
  border: none;
  width: 30px;
  height: 30px;
  background-color: #417cde;
  background-image: url(../img/catalog-heart.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog__favorities_button:hover,
.catalog__favorities_button:focus {
  background-color: #3866c7;
}

.catalog__vew-button {
  display: block;
  box-sizing: border-box;
  text-decoration: none;
  padding: 30px;
  max-width: 346px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 24px;
}

.catalog__text {
  text-align: center;
  font-size: 16px;
  font-weight: 300px;
  line-height: 16px;
  margin: 0;
}

.blog {
  padding-top: 130px;
  padding-bottom: 90px;
}

.blog__top-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.blog__text {
  margin: 0;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.blog__link {
font-family: inherit;
color: #507fe1;
font-size: 16px;
line-height: 16px;
font-weight: 400;
}

.blog__link:hover,
.blog__link:focus {
  color: #0040FF;
}

.blog__articles {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blog__item {
  width: 24%;
  max-width: 284px;
  min-width: 220px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 25px;
}

.blog__item-link {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: inherit;
}

.blog__item img {
  width: 100%;
  height: auto;
}

.blog__item-title {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  font-weight: 300;
  padding: 31px 0;
}

/*Price*/

.price {
  padding-bottom: 150px;
}

.price__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.price__item {
  width: 24%;
  max-width: 285px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  position: relative;
}

.price__item img {
  width: 100%;
  height: auto;
}

.price__details {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 20px;
}

.price__item-title {
  margin: 0;
  font-size: 15px;
  line-height: 15px;
  font-weight: 300;
}

.price__value {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.price__order {
  width: 100%;
  padding-bottom: 19px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  bottom: -80px;
  left: 0;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
}

.price__item:hover .price__order {
  visibility: visible;
  opacity: 1;
}

.price button {
  font-size: 14px;
  padding: 23px 55px;
}

/* work-stage */

.work-stage {
  padding-bottom: 20px;
}

.work-stage__title {
  margin-bottom: 90px;
}

.work-stage__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.work-stage__item {
  flex-grow: 1;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
  position: relative;
}

.work-stage__item img {
  position: relative;
  z-index: 2;
}

.work-stage__item-title {
  margin: 0;
  margin-bottom: 32px;
  margin-top: 20px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
}

.work-stage__item-text {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
}

.item-wrap {
  position: relative;
  width: 180px;
  text-align: center;
}

.work-stage__item:not(:last-child)::after,
.work-stage__item:not(:first-child)::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 2px;
  background-color: #7e7b78;
  opacity: 0.5;
  top: 63px;
}

.work-stage__item::before {
  left:0;
}

.work-stage__item::after {
  right: 0;
  z-index: 1;
}

/*reviews*/

.reviews {
  padding-bottom: 278px;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reviews__item {
  width: 32%;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews p {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 40px;
  width: 100%;
  min-height: 144px;
  text-align: center;
  padding: 22px 24px;
  font-family: "Proxima Nova Regular", sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 20px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.reviews p::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 50%;
  width: 14px;
  height: 14px;
  background-color: #fff;
  transform: rotate(45deg) translateX(-50%);
}

.reviews img {
  margin-top: auto;
  margin-bottom: 20px;
  background-color: #f6f7f9;
  border-radius: 50%;
  border: 2px solid #6a99e9;
}

.reviews span {
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
}


/*Offer-2*/

.offer-2 .offer-block{
  padding: 60px 70px;
  background-image: url(../img/offer-2-bg.png);
  transform: translateY(-160px);
}

.offer-2 .offer__text {
  max-width: 850px;
  margin-bottom: 44px;
}

.offer-2 .form__row {
  margin-top: 30px;
}

.offer-2__security {
  margin: 0;
  margin-left: 45px;
  max-width: 360px;
  font-size: 17px;
  line-height: 17px;
  font-weight: 300;
  color: #596164;
}

.form__button-sm {
  display: none;
  min-width: 100%;
}

/*about-us*/

.about-us {
  padding-bottom: 100px;
}

.about-us__block {
  max-width: 1000px;
  margin: 0 auto;
}

.about-us__img {
  float: left;
  width: 100%;
  max-width: 370px;
  height: 269px;
  margin-right: 73px;
  margin-bottom: 30px;
  background-image: url(../img/about-us.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.about-us__text p {
  font-size: 20px;
  line-height: 31px;
  font-weight: 300;
  margin: 0;
  margin-bottom: 30px;
}

.about-us__text p:last-child {
  margin-bottom: 0;
}

/*Contacts*/

.contacts {
  padding-bottom: 47px;
}

.contacts__list {
  list-style: none;
  margin: 0 auto;
  max-width: 920px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.contacts__item {
  position: relative;
  padding-top: 56px;
  font-size: 16px;
  line-height: 16px;
}

.contacts__item::before {
  content: "";
  position: absolute;
  width: 34px;
  height: 34px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  background-position: top center;
}

.contacts__item:nth-child(1)::before {
  background-image: url(../img/contacts-phone.png);
}

.contacts__item:nth-child(2)::before {
  background-image: url(../img/contacts-adress.png);
}

.contacts__item:nth-child(3)::before {
  background-image: url(../img/contacts-email.png);
}

/*Map*/

.map {
  height: 410px;
  background-image: url(../img/map.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*Question*/

.question {
  padding: 86px 0;
}

.question-block {
  max-width: 580px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.question__text {
  margin: 0;
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  
}

.question__link {
  font-family: inherit;
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  color: #5a8de2;
  text-decoration: none;
  position: relative;
}

.question__link::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background-color: #5a8de2;
  opacity: 0.3;
}

.question__link:hover,
.question__link:focus {
  color: #3866c7;
}

.question__link:hover::after {
  opacity: 1;
}

/*footer*/

.footer {
  background-color: #262626;
  padding: 40px 0;
  color: #fff;
}

.footer-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-title {
  margin: 0;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.54;
  text-transform: uppercase;
}

.footer__text {
  margin: 0;
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

.footer__copyright {
  font-size: 14px;
  line-height: 14px;
  color: #767676;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer__phone {
  font-family: "Proxima Nova Semibold", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  margin-bottom: 19px;
}

.footer__email {
  color: inherit;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: none;
  position: relative;
  margin-bottom: 22px;
}

.footer__email::after {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: #fff;
  opacity: 0.3;
}

.footer__contacts a:hover,
.footer__contacts a:focus{
  color: #3866c7;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 104px;

}

.footer-social__link {
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.footer-social__link:nth-child(1) {
  background-image: url(../img/twitter.png);
}

.footer-social__link:nth-child(2) {
  background-image: url(../img/facebook.png);
}
.footer-social__link:nth-child(3) {
  background-image: url(../img/vk.png);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: #3866c7;
}

/*before-after*/
.before-after {
  padding-bottom: 130px;
}

.before-after__slider {
  max-width: 970px;
  margin: 0 auto;
  position: relative;
}


.before-after__item img {
  width: 100%;
  height: auto;
}

.slick-arrow {
  font-size: 0;
  padding: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-left: 2px solid #9b9b9b;
  border-bottom: 2px solid #9b9b9b;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
}

.slick-arrow:hover,
.slick-arrow:focus {
  opacity: 1;
  outline: none;
}

.slick-prev {
  top: 50%;
  left: -55px;
  transform: rotate(45deg);
}

.slick-next {
  top: 50%;
  right: -55px;
  transform: rotate(-135deg);
}

.slick-dots {
 list-style: none;
 margin: 0;
 padding: 0;
 position: absolute;
 left: 50%;
 bottom: -50px;
 transform: translateX(-50%);
 display: flex;
}

.slick-dots button {
  padding: 0;
  font-size: 0;
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #d1d1d1;
  cursor: pointer;
}

.slick-dots li:not(:last-child) {
  margin-right: 10px;
}

.slick-active button {
  background-color: #5b7fda;
}